#file-import-component #content {
	/* 내용 마진 */
	margin: 100px auto;
	width: 800px;

	display: flex;
	flex-direction: column; /* 수직 정렬 */
	align-items: center; /* 수평 중앙 정렬 */
	justify-content: center; /* 수직 중앙 정렬 */
	text-align: center; /* 텍스트 중앙 정렬 */
}

/* 자식 요소 스타일링 */
#file-import-component #open-finder,
#drag-file {
	margin: 10px 0; /* 상하 여백 설정 */
	padding: 20px; /* 패딩 설정 */
	border-radius: 106px; /* 모서리 둥글게 설정 */
	width: 400px;
	height: 100px;

	font-size: 20px;

	display: flex;
	flex-direction: column; /* 수직 정렬 */
	align-items: center; /* 수평 중앙 정렬 */
	justify-content: center; /* 수직 중앙 정렬 */
}

#file-import-component #open-finder {
	background: rgba(149, 183, 92, 0.45);
}
#file-import-component #open-finder div:first-child {
	font-family: var(--font-NanumSquareNeoExtra);
	font-size: 30px;
	margin-bottom: 10px;
}

#file-import-component #drag-file {
	border: 1px solid #eeeeee;
}

#file-import-component #file {
	display: none;
  }

  #file-import-component .dragging {
	background-color: #eae4e4;
  }